<div class="container-fluid home d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col-12">
			<h1>YOUR NEW <span>Bookstore</span> IS ON IT'S WAY! </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<img src="./assets/bookstore-icon-01.png" alt="bookstore-icon-01">
		</div>
	</div>
	<div class="down-arrow">
		<span class="material-icons">keyboard_arrow_down</span>
	</div>
</div>
<section>
	<div class="container-fluid my-5">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center my-5">Increase you community!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum est voluptates quos placeat, nulla magnam dolores fuga exercitationem quibusdam beatae qui ut accusamus labore molestias, voluptatum, cum amet sed alias consequatur culpa. Iusto quaerat quibusdam laboriosam neque blanditiis eveniet, unde at quidem incidunt quae quas ipsa libero consequuntur voluptate obcaecati quo repellendus non rerum a nam possimus quis ad dolore. Recusandae impedit facere veritatis, doloribus dicta numquam. Hic praesentium quasi et incidunt quae officiis earum beatae, obcaecati, quas delectus pariatur, perspiciatis voluptate quidem est laborum, accusantium ipsam suscipit rerum sed iste sint rem maiores. Impedit vero debitis quaerat fuga ullam.</p>
			</div>
		</div>
	</div>
</section>