<section>
	<div class="main-section">
		<div class="wrapped-heading">
			<h1>Your new <span>Bookstore</span> is on its way!</h1>
		</div>
		<div class="svg-wrapper"></div>
	</div>
	<div class="down-arrow">
		<span class="material-icons">keyboard_arrow_down</span>
	</div>
</section>
<section>
	<div class="container-fluid justify-content-center align-items-center">
		<div class="row">
			<div class="col-md-6 col-sm-12 min-height d-flex align-items-center">
				<h1>Get your personalised <span>Bookshelf!</span></h1>
			</div>
			<div class="col-md-6 col-sm-12 d-flex align-items-center">
				<img class="img-thumbnail" src="./assets/book-shelf-01.png" alt="">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid justify-content-center align-items-center">
		<div class="row">
			<div class="col-md-6 col-sm-12 min-height d-flex align-items-center order-2">
				<h1>Increase you community!</h1>
			</div>
			<div class="col-md-6 col-sm-12 d-flex align-items-center">
				<img class="img-thumbnail" src="./assets/interaction.png" alt="">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid justify-content-center align-items-center">
		<div class="row">
			<div class="col-md-6 col-sm-12 min-height d-flex align-items-center">
				<h1>Recommend your fav books!</h1>
			</div>
			<div class="col-md-6 col-sm-12 d-flex align-items-center">
				<img class="img-thumbnail" src="./assets/interaction.png" alt="">
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid justify-content-center align-items-center">
		<div class="row">
			<div class="col-md-6 col-sm-12 min-height d-flex align-items-center order-2">
				<h1>Find your next read without any hassle!</h1>
			</div>
			<div class="col-md-6 col-sm-12 d-flex align-items-center">
				<img class="img-thumbnail" src="./assets/interaction.png" alt="">
			</div>
		</div>
	</div>
</section>











<!-- <div class="container-fluid home d-flex justify-content-center align-items-center">
	<div class="row">
		<div class="col-6 d-flex align-items-center">
			<h1>YOUR NEW <span>Bookstore</span> IS ON IT'S WAY! </h1>
		</div>
		<div class="col-6">
			<img class="img-thumbnail" src="./assets/BookStore-03-shadow.png" alt="bookstore-icon-01">
		</div>
	</div>

	<div class="down-arrow">
		<span class="material-icons">keyboard_arrow_down</span>
	</div>
</div>
<section>
	<div class="container my-5">
		<div class="row">
			<div class="col-6">
				<h1>Get your personalised <span>Bookshelf!</span></h1>
			</div>
			<div class="col-6">
				<img class="img-thumbnail" src="./assets/book-shelf.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-6 order-2">
				<h1 class="text-center my-5">Increase you community!</h1>
			</div>
			<div class="col-6">
				<img class="img-thumbnail" src="./assets/interaction.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<h1 class="text-center my-5">Recommend your fav books!</h1>
			</div>
			<div class="col-6">
				<img class="img-thumbnail" src="./assets/BookStore-03-shadow.png" alt="bookstore-icon-01">
			</div>
		</div>
		<div class="row">
			<div class="col-6 order-2">
				<h1 class="text-center my-5">Find your next read!</h1>
			</div>
			<div class="col-6">
				<img class="img-thumbnail" src="./assets/BookStore-03-shadow.png" alt="bookstore-icon-01">
			</div>
		</div>
	</div>
</section> -->